<div class="container" id="intro-text">
  <div class="row">
    <div class="col-md-12">
      <br>
      <p><i>Early Modern Maritime Recipes</i> examines recipes circulating before 1800 in
      print and manuscript in the area now defined as Canada's Maritime provinces.
      Early modern recipe writing focused on food and medicine, but recorded a range
      of other practices associated with alchemy, cosmetics, veterinary, medicine, and
      laundry, amongst other things. These recipes are texts about knowledge exchange
      and social networks. They reflect the commercial, social, and familial
      relationships involved in the acquisition of knowledge, record the use of goods
      in making products, and connect domestic practices and institutionalized
      learning. <i>Early Modern Maritime Recipes</i> compiles a record of extant
      recipes by digitizing and transcribing recipes from archival collections
      throughout the Maritime provinces.</p>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" id="search-recipes">
      {{ search_block_output }}
    </div>
  </div>

  <div class="row" id="home-exp-feat">
    <br>
    <br>
    <br>
    <div class="col-md-1"></div>
    <div class="col-md-5" id="home-explore">
      <h2 class="h5">Explore</h2>

      <ul>
        <li>
          <a href="/search-recipes">Search</a> the collection by keyword,
          or browse by recipe type, format, and more.
        </li>
        <li>
          View a full list of <a href="/sources">documents and sources</a>.
        </li>
        <li>
          Read <a href="/contexts">contexts</a> on historical recipe research
          and scholarship.
        </li>
      </ul>
    </div>

    <div class="col-md-5" id="home-featured">
      <h2 class="h5">Featured</h2>
        <dd>{{ drupal_view('emmr_featured_sources', 'block_1') }}</dd>
    </div>
    <div class="col-md-1"></div>
</div>
