<p>
<i>Early Modern Maritime Recipes</i> examines recipes circulating before 1800 in
print and manuscript in the area now defines as Canada's Maritime provinces.
Early modern recipe writing focused on food and medicine, but recorded a range
of other practices associated with alchemy, cosmetics, veterinary, medicine, and
laundry, amongst other things. These recipes are texts about knowledge exchange
and social networks. They reflect the commercial, social, and familial
relationships involved in the acquisition of knowledge, record the use of goods
in making products, and connect domestic practices and institutionalized
learning.<i>Early Modern Maritime Recipes</i> compiles a record of extant
recipes by digitizing and transcribing recipes from archival collections
throughout the Maritime provinces.
<br><br>
This site is currently under construction. Click
<a href="/node/add/emmr_recipe">here</a> to add a new recipe to the database.
</p>
