/* PDF Styling */
body {
  font-size: 14px;
}

table {
  border-collapse: collapse !important;
  border: 1px solid black;
}

td {
  padding: 10px;
}

.field--label, .field--name-field-contributor-role > .field--item {
  font-weight: bold;
}

.field--name-field-contributors > .field--label, .field--label.sr-only {
  display: none;
}

.field--label, .field--name-field-annotation-text:after {
  content: ":";
}

.trxn-retext:before,
.trxn-text:before {
  content: "[";
}

.trxn-retext:after,
.trxn-text:after {
  content: "] ";
}

.emmr-anno {
  font-weight: bold;
}
