.ckeditor5-toolbar-button-transInsert {
  background-image: url(../icons/transInsert.svg);
}
.ckeditor5-toolbar-button-transReplace {
  background-image: url(../icons/transReplace.svg);
}
.ckeditor5-toolbar-button-transMargin {
  background-image: url(../icons/transMargin.svg);
}
.ckeditor5-toolbar-button-transUndo {
  background-image: url(../icons/transUndo.svg);
}
 