@import '../../../../../vendor/unb-libraries/unb_lib_theme/assets/stylesheets/unblib';

// Footer
#dal-footer-logo {
  max-height: 40px;
}

#unb-footer-logo {
  position: relative;
  top: -10px;
  max-height: 60px;
}

#sshrc-footer-logo {
  max-width: 440px;
}

footer.footer.container {
  padding-left: 0px;
}

// Browse Recipes Form

#views-exposed-form-emmr-browse-recipes-page-1 {
  padding-left: 40px;
}

#views-exposed-form-emmr-browse-recipes-page-1 > div >
div.form-item.js-form-item {
  display: table;
}

#views-exposed-form-emmr-browse-recipes-page-1 > div > div:nth-child(5),
#views-exposed-form-emmr-browse-recipes-page-1 > div > div:nth-child(6) {
  display: inline-block !important;
}

#views-exposed-form-emmr-browse-recipes-page-1 div.form-item {
  padding-right: 20px;
  padding-bottom: 10px;
}

#views-exposed-form-emmr-browse-recipes-page-1 label {
  width: 100px;
}

#views-exposed-form-emmr-browse-recipes-page-1 input,
#views-exposed-form-emmr-browse-recipes-page-1 select {
  width: 310px;
}

#views-exposed-form-emmr-browse-recipes-page-1 > div > div:nth-child(5) > input,
#views-exposed-form-emmr-browse-recipes-page-1 > div > div:nth-child(6) > input {
  width: 124px;
}

#views-exposed-form-emmr-browse-recipes-page-1 > div > div:nth-child(5) > input {
  position: relative;
  left: -4px;
}

#views-exposed-form-emmr-browse-recipes-page-1 > div > div:nth-child(6) > label {
  width: 30px;
}

#views-exposed-form-emmr-browse-recipes-page-1  > div > div:nth-child(9) {
  display: table;
}

div.form-item-field-recipe-date-to-value-min,
div.form-item-field-recipe-date-to-value-max {
  display: none !important;
}

// Browse Recipes results
#browse-recipes-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5 !important;
}

.emmr-recipe-row {
  padding-left: 20px;
}

// Create Source Form
#node-emmr-source-form > div.form-item.js-form-item.form-type-vertical-tabs,
#node-emmr-recipe-form > div.form-item.js-form-item.form-type-vertical-tabs {
  display: none;
}

// Create Recipe Form
.filter-wrapper.form-inline.form-group.js-form-wrapper.form-wrapper,
div > div > div.table-responsive > button {
  display: none;
}

#edit-field-recipe-date-wrapper,
#edit-field-imprecise-date-wrapper,
#edit-field-recipe-date-to-wrapper,
#edit-field-recipe-date-text-wrapper {
  background-color: #f9f9f9;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#edit-field-recipe-date-wrapper {
  border-top: 2px solid #e5e5e5 !important;
}

#edit-field-imprecise-date-wrapper {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

// Global Search Form
#edit-combine {
  width: 360px;
}

// Homepage
#home-explore,
#home-featured {
  padding: 10px;
  border: 1px solid #e5e5e5;
}

#home-explore > ul > li,
#home-featured > ul > li {
  margin-left: 10px;
}

// View Recipe
#recipe-details-header {
  padding-left: 20px;
}

#recipe-collapse,
#recipe-collapse:hover,
#recipe-collapse:focus {
  text-decoration: none;
}

#recipe-pages {
  text-align: center;
}

#recipe-pages-images {
  padding-left: 6px;
  overflow: scroll;

  img {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid #e5e5e5;
  }
}

#recipe-trans {
  max-width: 464px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 20px;
  line-height: 200%;
  font-size: 12px;
}

#recipe-details,
#pages-trans-anno {
  padding-left: 40px;
}

#recipe-details div.field.field--name-field-contributor-role {
    font-weight: 500;
}

#recipe-anno {
  background-color: #f3f3f3;
  > div {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#recipe-trans,
#recipe-anno {
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  margin: 10px;
  border: 2px solid #e5e5e5;
}

#recipe-anno > div > div.field--items > div > div {
  padding-bottom: 10px;
}

#recipe-pages,
#recipe-trans,
#recipe-anno {
  max-height: inherit;
  overflow: scroll;
}

/* Adcanced Sources View */
.view-emmr-adv-sources.view-display-id-page_1 > .view-content > a {
  padding-left: 4vw;
  font-size: 20px;
}

.view-emmr-adv-sources.view-display-id-page_1 > .view-content > h3 {
  padding-left: 8vw;
  font-size: 14px;
}

.view-emmr-adv-sources.view-display-id-page_1 > .view-content > div {
  padding-left: 8vw;
}

/* Transcription */
.trxn-caret {
  position: relative;
  bottom: -.9em;
  color: red;
  font-size: .9em;
}

.trxn-text {
  position: absolute;
  display: inline;
  width: max-content;
  bottom: 2em;
  left: -1em;
  font-size: .9em;
}

.trxn-replace {
  position: relative;
  bottom: -.9em;
  color: red;
  font-size: .9em;
}

.trxn-retext {
  position: absolute;
  display: inline;
  width: max-content;
  bottom: 2em;
  font-size: .9em;
}

/* Responsive */
@media (min-width: 992px) {
  #pages-trans-anno {
    max-height: 70vw;
  }
}
