@import '../../../../../vendor/unb-libraries/unb_lib_theme/assets/stylesheets/unblib';

// Footer
#dal-footer-logo {
  max-height: 40px;
}

#unb-footer-logo {
  position: relative;
  top: -10px;
  max-height: 60px;
}

#sshrc-footer-logo {
  max-width: 440px;
}

footer.footer.container {
  padding-left: 0px;
}

// Browse-Recipes Form
#views-exposed-form-emmr-browse-recipes-page-1 div.form-item {
  padding-right: 20px;
  padding-bottom: 10px;
}

#views-exposed-form-emmr-browse-recipes-page-1 label {
  width: 100px;
}

#views-exposed-form-emmr-browse-recipes-page-1 input,
#views-exposed-form-emmr-browse-recipes-page-1 select {
  width: 300px;
}
